.swiper{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  text-align: center;
  font-size: 1.8rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .visual-title{
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  color: #fff;
}

.swiper-slide .visual-title h2{
  font-size: 6rem;
  margin-bottom: 2rem;
}

.swiper-slide .visual-title p{
  font-size: 2.4rem;
}

.main-visual .swiper-slide img{
  min-height: 64rem;
}

/* 최신식 장비 둘러보기 */
/* .equipment-sec */

.swiper02{
  overflow: hidden;
}

.equipment-sec{
  padding: 8rem 0;
  position: relative; /* 위치 잡아야 swiper-button-next나타남 */
}
.swiper-button-prev:after{
    margin-left: 100px;
}
.swiper-button-next:after {
  margin-right: 100px;
}
  
.equipment-sec .container-wrap{
  overflow: hidden;
}
  
.equipment-sec .container-wrap h3{
  font-size: 2.4rem;
  margin: 2rem 0 1rem;
}

.equipment-sec .container-wrap p{
  font-size: 1.8rem;
}

.swiper02 .swiper-slide{
  flex-direction: column;
}

/* examination-sec */
.examination-sec{
  padding: 8rem 0;
}

.examination-sec .examination-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}
.examination-sec .examination-wrap .examination-item{
  width: 30%;
  text-align: center;
}
.examination-sec .examination-wrap .examination-item p{
  font-size: 2rem;
}
  
.examination-sec .examination-wrap .examination-item .ev_hover{
  display: none;
}
.examination-sec .examination-wrap .examination-item:hover img{
  display: none;
}
.examination-sec .examination-wrap .examination-item:hover img.ev_hover{
  display: inline-block;
}

/* tour-swiper */
.tour-swiper{
  display: flex;
  align-items: center;
  padding-bottom: 8rem;
}
.mySwiper4{
  width: 50%;
}
.mySwiper3{
  width: 50%;
  padding-left: 10rem;
}
.tour-sec .tour-wrap h2{
  position: relative;
}
.tour-sec .tour-wrap h2::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 1px;
  background: #333;
}
.tour-sec .tour-wrap h2 span{
  font-weight: 400;
  display: inline-block;
  margin-bottom: 1rem;
}

.tour-sec .tour-wrap p{
  font-size: 2rem;
  margin-bottom: 8rem;
}

.tour-sec .tour-wrap .btn{
  margin-bottom: 8rem;
}

.tour-swiper .swiper-slide img{
  max-height: 85rem;
}

.mySwiper3 .swiper-slide img{
  max-height: 10rem;
}

.mySwiper3 .swiper-slide{
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper3 .swiper-slide-thumb-active{
  opacity: 1;
}

@media (max-width:1440px){ /* 노트북 */
  
}
@media (max-width:1024px){ 
  .main-visual .visual-title h2{
    font-size: 4.2rem;
  }
  .main-visual .visual-title p{
    font-size: 2rem;
  }

}
@media (max-width:768px){ /* 태블릿 */
  .logo img{
    width: 16rem;
  }
  .call{
    display: none;
  }
  .main-visual .swiper-slide{
    height: 50rem;
  }
  .examination-sec .examination-wrap .examination-item p{
    font-size: 1.6rem;
  }
}

@media (max-width:540px){ /* 모바일 */ 
  /* 모바일의 폰트사이즈는 보통16 최소12 최대 30~35 */
  /* 중제목 20~28 */
  .logo img{
    width: 12rem;
  }

  .main-visual .visual-title h2{
    font-size: 3.2rem;
  }
  .main-visual .visual-title p{
    font-size: 1rem;
  }
  .main-visual .swiper-slide{
    height: 42rem;
  }
  .examination-sec .examination-wrap .examination-item p{
    font-size: 1.2rem;
  }
}